.follow {
  margin-top: 60px;
  padding: 12px;
  width: 100%;
  border: 1px solid var(--light-grey);
  border-radius: 12px;
}

.follow__title {
  margin: 0;
  margin-bottom: 8px;
}

.follow__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
