.button {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: var(--primary);
  border: 0;
  border-radius: 100vh;
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    @media (hover: hover) {
      background-color: var(--primary-dark);
    }
  }

  &:disabled {
    background-color: #8dcdf7;
    cursor: inherit;
  }
}
