.menu {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media screen and (min-width: 500px) {
    display: block;
  }

  &__item {
    font-size: 1.25rem;

    &:not(:last-child) {
      @media screen and (min-width: 500px) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 1rem;
    border-radius: 100vh;
    text-decoration: none;
    color: var(--menu-text--hover);

    @media screen and (min-width: 500px) {
      padding: 0.7rem;
      gap: 0.5rem;
    }

    @media screen and (min-width: 1280px) {
      justify-content: start;
    }

    &:hover {
      @media (hover: hover) {
        background-color: var(--menu-hover-bg);
      }

      .menu__text {
        @media (hover: hover) {
          color: var(--menu-text-hover);
        }
      }
    }

    &--active {
      color: var(--menu-text--hover);
      font-weight: 600;
    }
  }

  &__logo {
    display: none;

    @media screen and (min-width: 500px) {
      display: flex;
      justify-content: end;
    }

    @media screen and (min-width: 1280px) {
      justify-content: start;
    }

    .menu__link:hover {
      @media (hover: hover) {
        background-color: var(--menu-hover-bg);
      }
    }
  }

  &__icon {
    flex: 0 0 2rem;
    align-self: center;
    height: 1.2rem;
    margin: 0;

    @media screen and (min-width: 500px) {
      height: 1.5rem;
    }

    @media screen and (min-width: 1280px) {
      margin: auto;
    }
  }

  &__text {
    display: none;
    flex: 1 1 auto;

    @media screen and (min-width: 1280px) {
      display: block;
    }
  }
}
