.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .menu {
    display: block;
  }
}

.menu__item {
  font-size: 20px;
}

@media screen and (min-width: 500px) {
  .menu__item:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.menu__link {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1em;
  border-radius: 100vh;
  text-decoration: none;
  color: var(--menu-text--hover);
}

@media screen and (min-width: 500px) {
  .menu__link {
    padding: 0.7em;
    gap: 0.5em;
  }
}

@media screen and (min-width: 1280px) {
  .menu__link {
    justify-content: start;
  }
}

@media (hover: hover) {
  .menu__link:hover {
    background-color: var(--menu-hover-bg);
  }
}

.menu__logo {
  display: none;
}

@media screen and (min-width: 500px) {
  .menu__logo {
    display: flex;
    justify-content: end;
  }
}

@media screen and (min-width: 1280px) {
  .menu__logo {
    justify-content: start;
  }
}

@media (hover: hover) {
  .menu__logo .menu__link:hover {
    background-color: var(--menu-hover-bg);
  }
}

.menu__icon {
  flex: 0 0 2em;
  align-self: center;
  height: 1.5em;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .menu__icon {
    margin: auto;
  }
}

.menu__text {
  display: none;
  flex: 1 1 auto;
}

@media screen and (min-width: 1280px) {
  .menu__text {
    display: block;
  }
}

@media (hover: hover) {
  .menu__link:hover .menu__text {
    color: var(--menu-text-hover);
  }
}

.menu__link--active {
  color: var(--menu-text--hover);
  font-weight: 600;
}
