.usercard {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 12px;
  border-radius: 45px;
}

@media screen and (min-width: 1280px) {
  .usercard {
    justify-content: start;
  }
}

@media (hover: hover) {
  .usercard:hover {
    background-color: var(--menu-hover-bg);
    cursor: pointer;
  }
}

.usercard__avatar {
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.usercard__info {
  display: none;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .usercard__info {
    display: flex;
  }
}

.usercard__info--name,
.usercard__info--handle {
  margin: 0;
}

.usercard__info--name {
  font-size: 16px;
  font-weight: 600;
}

.usercard__info--handle {
  font-size: 16px;
  color: var(--dark-grey);
}
