.navigation {
  order: 2;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  scrollbar-width: none;
  border-top: 1px solid #ddd;
}

@media screen and (min-width: 500px) {
  .navigation {
    padding: 1em 0 1em 1em;
    overflow: auto;
    position: absolute;
    bottom: auto;
    left: auto;
    right: auto;
    width: 6em;
    height: 100%;
    grid-column: 1 / 2;
    flex-direction: column;
    align-items: start;
    justify-self: end;
    border-top: none;
  }
}

@media screen and (min-width: 1280px) {
  .navigation {
    padding: 1em;
    width: 15em;
  }
}
