.sidebar {
  display: none;
  margin: 1rem;
  width: 19rem;
  position: absolute;
  grid-column: 3 / 4;

  @media screen and (min-width: 1000px) {
    display: block;
  }

  &__head {
    position: fixed;
    background-color: #ffffff;
    width: 21rem;
    margin: -1.25rem -1.25rem 0.25rem -1.25rem;
    padding: 1.25rem 1.25rem 0.25rem 1.25rem;
  }
}
