.container {
  display: grid;
  grid-template-columns: 14em 1fr 21em;
  max-width: 70em;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  gap: 20px;
}

.main {
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  grid-column: 2 / 3;
}

.page-title {
  margin: 1rem;
}
