.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 70rem;
  position: relative;

  @media screen and (min-width: 500px) {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 6rem 80%;
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: 5rem 1fr 21rem;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: 14rem 1fr 21rem;
  }
}

.main {
  margin: 0 auto;
  padding-bottom: 3.5rem;
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  max-width: 100vw;
  order: 1;
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: none;

  @media screen and (min-width: 500px) {
    margin: 0 auto;
    padding-bottom: 0;
    min-width: 100%;
    grid-column: 2 / 3;
  }
}

.page-title {
  margin: 1rem;
}
