.container {
	display: grid;
	grid-template-columns: 14em 1fr;
	max-width: 50em;
	min-height: 100vh;
	margin: 0 auto;
	border-left: 1px solid var(--light-grey);
	border-right: 1px solid var(--light-grey);
}

.main {
	border-left: 1px solid var(--light-grey);
}

.page-title {
	margin: 1rem;
}